section.books {
  h2 {
    text-align: center;
  }
  md-card.books {
    width: 25%;
    margin-bottom: 3%;
    margin-left: 3%;
    float: left;

    .mat-card-image {
      width: auto;
    }

    .header-image {
      background-size: cover;
    }
  }

}