<md-card class="form-card">
  <md-card-title>
    Sign Up Form
  </md-card-title>
  <md-card-content>
    <form [formGroup]="signUpForm" id="signUpForm">
      <md-input-container class="full-width">
        <input mdInput
               type="email"
               placeholder="Email"
               formControlName="email">
      </md-input-container>
      <ng-container formGroupName="passwordGroup">
        <md-input-container class="full-width">
          <input mdInput
                 type="password"
                 placeholder="Password 8+"
                 formControlName="password">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput
                 type="password"
                 placeholder="Confirm Password 8+"
                 formControlName="passwordConfirmation">
        </md-input-container>
      </ng-container>
    </form>
    <p>Do you have account? <a routerLink="/auth/sign-in">Sign In</a></p>
  </md-card-content>
  <md-card-actions align="center">
    <button form="signUpForm" type="submit" md-raised-button color="primary" [disabled]="signUpForm.invalid">Sign Up</button>
    <button md-raised-button color="warn" (click)="goBack()">Back</button>
  </md-card-actions>
</md-card>
