<div class="wrapper">
  <books-shop-header></books-shop-header>
  <div class="spacer">
    <router-outlet></router-outlet>
    <!--<section>-->
      <!--<div class="intro-header">-->
        <!--<div class="intro-message">-->
          <!--<h1>Books-Shop</h1>-->
          <!--<hr class="intro-divider">-->
          <!--<button md-raised-button color="primary">{{'Join us' | uppercase}}</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
  </div>
  <books-shop-footer></books-shop-footer>
</div>
