<md-card class="form-card">
  <md-card-title>
    Sign In Form
  </md-card-title>
  <md-card-content>
    <form>
      <md-input-container class="full-width">
        <input mdInput type="email" placeholder="Email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password 8+">
      </md-input-container>
    </form>
    <p>Do you have'nt account? <a routerLink="/auth/sign-up">Sign Up</a></p>
  </md-card-content>
  <md-card-actions align="center">
    <button type="submit" md-raised-button color="primary">Sign In</button>
    <button md-raised-button color="warn" (click)="goBack()">Back</button>
  </md-card-actions>
</md-card>