<md-card class="form-card">
  <md-card-title>
    Sign In Form
  </md-card-title>
  <md-card-content>
    <form [formGroup]="signInForm" id="signInForm">
      <md-input-container class="full-width">
        <input mdInput type="email" placeholder="Email" formControlName="email">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput type="password" placeholder="Password 8+" formControlName="password">
      </md-input-container>
    </form>
    <p>Do you have'nt account? <a routerLink="/auth/sign-up">Sign Up</a></p>
  </md-card-content>
  <md-card-actions align="center">
    <button form="signInForm" type="submit" md-raised-button color="primary" [disabled]="signInForm.invalid">Sign In</button>
    <button md-raised-button color="warn" (click)="goBack()">Back</button>
  </md-card-actions>
</md-card>